{% extends "layout.html" %}

{% block title %}Challenges{% endblock %}

{% block content %}
<div class="c1">
    <h4 style="text-align: center;">Recent Posts</h4>
    <hr>
    <h2>Stay motivated</h2>
    <h2>
        The challenges section of our gym and fitness application is dedicated to 
        helping users unlock their full potential in strength training. 
        We understand that building and maintaining strength requires dedication and perseverance. 
        That's why we have curated a range of captivating challenges specifically 
        tailored to strength training enthusiasts.
    </h2>
    <br><br>
</div>

<div class="c1">
    <h4 style="text-align: center;">Past Challenges</h4>
    <hr>
    <h2>OG Ab Workout</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Brandon Carter, Apr 7, 2015.</h5>
    <h5><span class="label label-success">Favourite pick</span></h5><br>
    <h2>If it was easy, everybody would have a six pack</h2>
    <div class="embed responsive">
        <iframe 
          width="854" 
          height="480" 
          src="https://www.youtube.com/embed/AqUO8npvBIU" 
          frameborder="0" 
          allow="autoplay; encrypted-media" 
          allowfullscreen>
        </iframe>
    </div>
    <br>

    <hr>
    <h2>30-day ab challenge</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Via <a href="https://darebee.com/challenges/chest-and-arms-challenge.html">darebee.com</a></h5>
    <h5><span class="label label-success">Top rated</span></h5><br>
    <h2>Either suffer, or suffer</h2>
    <img 
      class="img-fluid rounded" 
      src="../static/images/challenge.jpg"
    >
    <hr>
</div>
{% endblock %}